.instructor-navbar {
  padding: 10px 20px;
  height: 15vh;
  background: #fff;
  box-shadow: #000 0px 0px 9px;
  color: rgb(34, 3, 135);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;         /* solid background so content doesn’t overlap */
  z-index: 10000;            /* higher than modal */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px 30px;
 
}
.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgb(34, 3, 135);
  text-decoration: none;
}
 
.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
 .navlink{
  text-decoration: none;
  color: rgb(34, 3, 135);
  font-size: 18px;
}
.navlink:hover {
  color: rgb(34, 3, 135);
  font-weight: bold;
 
}
 
.auth-btn {
  background: #0EA5E9;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}
 
.auth-btn:hover {
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
 
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
}
 
 