/* .toggle-btn {
  font-size: 13px;
  font-weight: bold;
  width: 90px;
  height: 32px;
  margin: 0 5px;
  border: none;
  background-color: white;
  color: #08164E;
  border-radius: 10px;
  border: 1px solid #08164E;
  cursor: pointer;
  transition: 0.3s ease;
}

.toggle-btn.active {
  background-color: #08164E;
  color: white;
} */

* {
  outline: 1px  !important;
}

 .toggle-btn {
  font-size: 13px;
  font-weight: bold;
  width: 90px;
  height: 32px;
  margin: 0 5px;
  border: none;
  background-color: white;
  color: #08164E;
  border-radius: 10px;
  border: 1px solid #08164E;
  cursor: pointer;
  transition: 0.3s ease;

  position: relative;
  z-index: 10;
}
