.password-wrapper {
    position: relative;
    width: 80%;
    max-width: 16.875rem;
    margin: 0 auto 1.25rem auto;
}

.signup-input-field {
    border: none;
    background-color: #fdfdfd;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.15);
    border-radius: 0.625rem;
    padding: 0.625rem 2.5rem 0.625rem 0.9375rem;
    /* Extra space for icon */
    font-size: 0.75rem;
    outline: none;
    width: 100%;
}

.toggle-password {
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1rem;
    color: #555;
}